<ng-container *ngFor="let order of incomingOrderResponse.result">
  <div class="order-details-resume">
    <div class="order-details-resume__header">
      <span class="order-details-resume__order-id">Order <span class="bold-600">#{{ order.order_number }}</span></span>
    </div>
    <div class="order-details-resume__content">
      <div class="order-details-resume__shipment-info">
        <div class="order-details-resume__shipment-type">
          <img src="icons/{{ order.type }}.svg" />
          
        </div>
        <div class="order-details-resume__status">
          <span class="order-details-resume__status-indicator semi-bold" [ngClass]="{
              'order-status-assigned': order.status_string == 'Orden Asignada',
              'order-status-completed': order.status_string != 'Orden Asignada'
            }">
            <!-- contenido del pedido -->
          </span>
          <span class="order-details-resume__status-text">{{
            order.status_string
          }}</span>
        </div>
      </div>
      <div class="order-details-resume__locations">
        <div class="order-details-resume__pickup">
          <div class="order-details-resume__location-icon">
            <img src="icons/pickUp.svg" alt="Pickup Icon" />
          </div>
          <div class="order-details-resume__location-details">
            <div class="order-details-resume__location-header">PICKUP</div>
            <div class="order-details-resume__city">
              <p>{{ order.destinations[0].address.split(",").pop() }}</p>
            </div>
            <div class="order-details-resume__address">
              {{
                order.destinations[0].address.slice(
                  0,
                  order.destinations[0].address.lastIndexOf(",")
                )
              }}
            </div>
          </div>
          <div class="order-details-resume__location-time">
            {{
              this.datePipe.transform(
                order.destinations[0].start_date,
                "dd/MM/yyyy",
                "-0600"
              )
            }}
            <br />{{
              this.datePipe.transform(
                order.destinations[0].start_date,
                "HH:mm",
                "-0600"
              )
            }}
          </div>
        </div>
        <div class="order-details-resume__dropoff">
          <div class="order-details-resume__location-icon">
            <img src="icons/dropOff.svg" alt="Dropoff Icon" />
          </div>
          <div class="order-details-resume__location-details">
            <div class="order-details-resume__location-header">DROPOFF</div>
            <div class="order-details-resume__city">
              {{ order.destinations[1].address.split(",").pop() }}
            </div>
            <div class="order-details-resume__address">
              {{
                order.destinations[1].address.slice(
                  0,
                  order.destinations[0].address.lastIndexOf(",")
                )
              }}
            </div>
          </div>
          <div class="order-details-resume__location-time">
            {{
              this.datePipe.transform(
                order.destinations[1].start_date,
                "dd/MM/yyyy",
                "-0600"
              )
            }}<br />{{
              this.datePipe.transform(
                order.destinations[1].start_date,
                "HH:mm",
                "-0600"
              )
            }}
          </div>
        </div>
      </div>
      <div class="order-details-resume__footer">
        <div *ngIf="isActiveTimer" class="order-details-resume__pickup-timer">
          Start pickup in
          <span class="order-details-resume__timer">{{
            timers[order.order_number].timeRemaining
          }}</span>
        </div>
        <button mat-button [disabled]="isActiveTimer" class="order-details-resume__resume-button">
          Resume
                    <img class="resume-button-image" (click)="navigateCargoDetails(order.order_number)" [ngClass]="{'resume-button-disable-image': isActiveTimer}" src="icons/Observability.svg" alt="Resume" />
        </button>
      </div>
    </div>
  </div>
</ng-container>
